@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Ubuntu Bold';
    src: url('fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
  }


/* Reset some default styles */
body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

html {
  background-color: #f0f0f0; /* Replace with your desired color */
}

/* Header styles */
header {
    background-color: #90b1d1;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 75px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  }  

/* Global styles */
body {
    font-family: 'Ubuntu', Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Content styles */
.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Style for the Felix images */
.felix-image {
    flex: 1;
    max-width: 49%;
    height: auto;
}

.about-me {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
}


th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 5px 0;
    background-color: #90b1d1;
    color: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
